<app-toolbar  (allRecipes)="onRecipesChanged($event)"></app-toolbar>
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile  colspan="2" rowspan="1.5">
      <mat-card class="dashboard-card">
        <mat-card-header>
          
          <mat-card-title *ngIf="userRole === 'COOK' || userRole === 'ADMIN'" >
             <h2>{{title}}</h2>
             <div *ngIf="userRole === 'COOK' ">
              <button mat-icon-button class="more-button" aria-label="Toggle menu" value="ADD NEW RECIPE" (click)="openAddModal()">
              <mat-icon>note_add</mat-icon>
              </button>    </div>
          </mat-card-title>

          <mat-card-title *ngIf="userRole === 'USER' || userRole === undefined || userRole === null" >
            <h2>{{title}}</h2>
          </mat-card-title>

        </mat-card-header>

        <mat-card-content class="dashboard-card-content"  *ngIf="userRole === undefined || userRole === null || userRole === 'USER' ">
          <div class="searchFilter">
          <app-search-bar  (recipes)="onRecipesChanged($event)"></app-search-bar>
          <app-filter-bar (recipes)="onRecipesChanged($event)" ></app-filter-bar>
        </div>
         <div *ngFor="let recipe of allRecipes">
          <app-expand [title] = "recipe.name" [recipeId]="recipe.recipeId"  [description]="recipe.description" [ingredients]="recipe.ingredients" [userRole]="userRole"  [recipeType]="recipeType"></app-expand>
        </div>
        </mat-card-content>

        <mat-card-content class="dashboard-card-content"  *ngIf="userRole === 'COOK'">
          <div class="searchFilter">
            <app-search-bar  (recipes)="onRecipesChanged($event)"></app-search-bar>
            <app-filter-bar (recipes)="onRecipesChanged($event)" ></app-filter-bar>
          </div>
    
          <div *ngFor="let recipe of allRecipes">
           <app-expand [title] = "recipe.name" [recipeId]="recipe.recipeId" [description]="recipe.description" [ingredients]="recipe.ingredients" [userRole]="userRole" [recipeType]="recipeType"></app-expand>
         </div>
        </mat-card-content>

        <mat-card-content class="dashboard-card-content"  *ngIf="userRole === 'ADMIN'">
          <div class="searchFilter">
            <app-search-bar  (recipes)="onRecipesChanged($event)"></app-search-bar>
            <app-filter-bar (recipes)="onRecipesChanged($event)" ></app-filter-bar>
          </div>
          <div *ngFor="let recipe of allRecipes">
           <app-expand [title] = "recipe.name" [recipeId]="recipe.recipeId" [description]="recipe.description" [ingredients]="recipe.ingredients" [userRole]="userRole"></app-expand>
         </div>
        </mat-card-content>

       
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
