<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>REGISTER</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)">
  
        <mat-card-content>

          <mat-form-field class="example-full-width">
            <mat-label>Fullname</mat-label>
            <input matInput placeholder="Fullname" name="fullname" required ngModel>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" required ngModel>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password" name="password"  required ngModel>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <mat-label>Role</mat-label>
            <mat-select [(ngModel)]="selectedOption" name="role">
              <mat-option value="USER">USER</mat-option>
            </mat-select>
          </mat-form-field>
  
        </mat-card-content>
        <button mat-stroked-button color="primary" [disabled]="registerForm.invalid" class="btn-block">Register</button>
       
      </form>
      <a mat-button routerLink="/login" routerLinkActive="active" class="example-full-width" > Have an acount? Log in!</a>
      <button mat-raised-button color="primary" routerLink="/main" routerLinkActive="active" class="example-full-width" > HOME</button>
    </mat-card>
  </div>